@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Inter:wght@500;600;700&family=Kaisei+Decol&family=Manrope:wght@700&display=swap");
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.25;
  font-family: "Inter", sans-serif;
  color: #0C3E2E;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

button {
  border: none;
}

.button {
  background-color: #FFBA00;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 125%;
  display: inline-block;
  padding: 20px 32px;
  border-radius: 16px;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-size: 36px;
  font-weight: 600;
}

.header {
  background-image: url("../images/header1920-svg.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  max-width: 100%;
  margin-bottom: 150px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.header .logo {
  display: block;
}
.header .logo img {
  width: 80px;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
}
.header__navbar .menu__list {
  display: flex;
  gap: 30px;
}
.header__navbar .menu__link {
  text-transform: uppercase;
  font-size: 16px;
}
.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100svh;
}
.header .phone {
  color: #BB8A52;
}
.header__bottom {
  font-size: 24px;
  text-align: center;
  padding: 25px 0;
}
.header .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
}
.header .hero__top {
  margin-bottom: 20px;
}
.header .hero__title {
  margin-top: 20px;
  margin-bottom: 75px;
  width: 428px;
  font-size: 48px;
  font-weight: 600;
}
.header .hero__text {
  margin-bottom: 20px;
  width: 510px;
}
.header .hero__text span {
  color: #CC2E2E;
}
.header .hero__cta {
  display: inline-block;
  padding: 20px 32px;
  border-radius: 16px;
}
.header .hero__image {
  margin-bottom: 40px;
}

.section {
  margin-bottom: 150px;
}
.section__title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
}
.section__inner {
  display: flex;
  align-items: center;
  gap: 0 22px;
}

.about__text {
  margin-bottom: 30px;
  width: 510px;
}
.about__text span {
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 24px;
}
.about__achivment {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}
.about__info {
  display: flex;
  gap: 30px;
  text-align: center;
  color: #BB8A52;
}
.about__info dt {
  font-size: 48px;
  margin-bottom: 5px;
}

.why_we__text {
  width: 600px;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}
.why_we .list-item {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 55px;
  padding-left: 10px;
}
.why_we .list-item:nth-child(2), .why_we .list-item:nth-child(5) {
  margin-left: 64px;
}
.why_we .list-item:nth-child(3), .why_we .list-item:nth-child(4) {
  margin-left: 102px;
}
.why_we .list-item:last-child {
  margin-bottom: 0;
}

.projects__text {
  width: 600px;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}
.projects .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.projects .gallery__item {
  width: 100%;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  margin-bottom: -50px;
}
.projects .gallery__item:nth-child(2) {
  grid-row: span 2;
}
.projects .gallery__item img {
  max-width: 100%;
  border-radius: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 2px solid #FFBA00;
}

.services {
  padding: 60px 20px;
  background-color: rgba(27, 208, 53, 0.1);
}
.services__text {
  width: 600px;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}
.services .cards {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  max-width: 1144px;
  margin: 0 auto;
}
.services .cards .card figure {
  text-align: center;
}
.services .cards .card figure figcaption {
  font-size: 24px;
  font-weight: 600;
}

.prices__text {
  max-width: 600px;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}
.prices__cards {
  display: flex;
  gap: 22px;
}
.prices__cards .card {
  width: 588px;
  min-height: 699px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 55px 88px;
  border: 2px solid #FFBA00;
}
.prices__cards .card__headling {
  font-size: 36px;
  font-weight: 600;
  margin-left: 54px;
  margin-bottom: 40px;
}
.prices__cards .card .list {
  margin-left: 100px;
}
.prices__cards .card .list__item {
  max-width: 300px;
  font-size: 24px;
  font-weight: 600;
  list-style-type: disc;
  margin-bottom: 10px;
}
.prices__cards .card .list__item:last-child {
  margin-bottom: 60px;
}
.prices__cards .card__content--bottom {
  text-align: center;
}
.prices__cards .card__content--bottom span {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.prices__cards .card__content--bottom span sup {
  vertical-align: super;
  font-size: 20px;
}
.prices__cards .card__content--bottom .button {
  width: 100%;
  display: block;
  background-color: #FFBA00;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 125%;
  color: #0C3E2E;
  margin-top: 40px;
  padding: 20px 32px;
}

.work-step {
  margin-bottom: 150px;
}
.work-step__list {
  max-width: 1070px;
  list-style-type: none;
  counter-reset: my-counter;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.work-step__list .step {
  position: relative;
  line-height: 185px;
  font-size: 28px;
  padding-left: 64px;
}
.work-step__list .step:last-child {
  margin-left: 32px;
}
.work-step__list .step::before {
  content: counter(my-counter, decimal-leading-zero);
  counter-increment: my-counter;
  font-size: 128px;
  font-family: "Kaisei Decol", serif;
  color: rgba(27, 208, 53, 0.1);
  -webkit-text-stroke: 0.25px #0C3E2E;
  font-weight: 400;
  letter-spacing: -12px;
  position: absolute;
  left: 0px;
}

.team__text {
  display: flex;
  max-width: 100%;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
  gap: 88px;
}
.team__text p {
  max-width: 524px;
}
.team__cards {
  display: flex;
  justify-content: center;
  gap: 0 50px;
}
.team__cards .member {
  width: 200px;
}
.team__cards .member img {
  border: 2px solid #FFBA00;
}
.team__cards .member__info {
  padding: 10px 0 15px;
  text-align: center;
}
.team__cards .member__descr {
  text-align: center;
  font-size: 18px;
}

.faq {
  margin-bottom: 110px;
}
.faq .accordion {
  -moz-column-count: 2;
       column-count: 2;
  gap: 0 22px;
}
.faq .accordion__item {
  margin-bottom: 40px;
}
.faq .accordion__title {
  font-size: 24px;
  margin-bottom: 16px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  text-align: left;
  color: #0C3E2E;
  padding-right: 70px;
  cursor: pointer;
  position: relative;
  width: 100%;
}
.faq .accordion__title::after {
  position: absolute;
  top: 5px;
  right: 45px;
  content: "";
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 28px;
}
.faq .accordion__descr {
  display: none;
}

.cta__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cta__subtitle {
  font-size: 28px;
  margin-bottom: 40px;
}
.cta__text {
  font-size: 24px;
  margin-bottom: 20px;
}
.cta .form {
  border: 2px solid green;
}
.cta .form__text {
  width: 550px;
  margin-bottom: 15px;
}
.cta .form__input {
  max-width: 550px;
  width: 100%;
  display: inline-block;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #0C3E2E;
  margin-left: 28px;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  color: #0C3E2E;
}
.cta .form__input ::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  color: #d9d9d9;
}
.cta .form__input ::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  color: #d9d9d9;
}
.cta .form__btn {
  margin-top: 20px;
  background-color: #FFBA00;
  display: inline-block;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 125%;
  padding: 20px 42px;
  border-radius: 16px;
  color: #0C3E2E;
  margin-bottom: 30px;
}
.cta__link {
  display: flex;
  align-items: center;
  font-size: 28px;
}
.cta__link span {
  border-bottom: 1px solid #0C3E2E;
  padding-right: 16px;
}
.cta__link img {
  margin-left: 32px;
}
.cta .gallery__item {
  max-width: 300px;
  border: 2px solid red;
}
.cta .gallery__item:last-child {
  max-width: 600px;
  height: 180px;
}
.cta .gallery__item:last-child img {
  -o-object-fit: cover;
     object-fit: cover;
}
.cta .gallery__item img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: center;
     object-position: center;
  display: block;
  width: 100%;
  height: 100%;
}
.cta .gallery__item img {
  max-width: 100%;
  border-radius: 40px;
  border: 2px solid #FFBA00;
}

/*---------------------------------------------------*/
h2 {
  color: green;
}