  @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Inter:wght@500;600;700&family=Kaisei+Decol&family=Manrope:wght@700&display=swap');


  // font-family: 'Balsamiq Sans', sans-serif;
  // font-family: 'Inter', sans-serif;
  // font-family: 'Kaisei Decol', serif;
  // font-family: 'Manrope', sans-serif;

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

  body {
  
  font-size: 18px;
  font-weight: 500;
  line-height: 1.25;
  font-family: 'Inter', sans-serif;
  color: #0C3E2E;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

button {
  border: none;
}

.button {
  background-color: #FFBA00;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 125%;
  display: inline-block;
  padding: 20px 32px;
  border-radius: 16px;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-size: 36px;
  font-weight: 600;
}

.header {

  background-image: url('../images/header1920-svg.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  max-width: 100%;
  margin-bottom: 150px;
  

  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    
  }

  .logo {
    display: block;
    img {
      width: 80px;
    }
  }

  &__navbar {
    display: flex;
    justify-content: space-between;

    .menu {

      &__list {
        display: flex;
        gap: 30px;
      }

      &__link {
        text-transform: uppercase;
        font-size: 16px;
        
      }
    }

    
  }

  &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100svh;
      }

  .phone {
    color: #BB8A52;
  }

  &__bottom {
    font-size: 24px;
    text-align: center;
    padding: 25px 0;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
    
    &__top {
      margin-bottom: 20px;
    }

    
    &__title {
      margin-top: 20px;
      margin-bottom: 75px;
      width: 428px;
      font-size: 48px;
      font-weight: 600;
    }

    &__text {
      margin-bottom: 20px;
      width: 510px;
       span {
        color: #CC2E2E;
       }

    }

    &__cta {
      display: inline-block;
      padding: 20px 32px;
      border-radius: 16px;
    }

    &__image {
      
      
      margin-bottom: 40px;
    }
  }
  
}

.section {
  margin-bottom: 150px;
  &__title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;

  }


  &__inner {
    display: flex;
    align-items: center;
    gap:0 22px;
  }

  
}

.about {
  &__text {
    margin-bottom: 30px;
    width: 510px;
    span {
      font-family: 'Balsamiq Sans', sans-serif;
      font-size: 24px;
      
    }

  }

  &__achivment {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
      gap: 30px;
      text-align: center;
      color: #BB8A52;
    
    dt {
      font-size: 48px;
      margin-bottom: 5px;
    }
  }
}

.why_we {
  &__text {
    width: 600px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
  }

  .list {
    &-item {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 55px;
      padding-left: 10px;
      &:nth-child(2),
      &:nth-child(5) {
        margin-left: 64px;
      }

      &:nth-child(3),
      &:nth-child(4) {
        margin-left: 102px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }


  } 
}

.projects {
  &__text {
    width: 600px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    
    &__item {
      // display: block;
      width: 100%;
      break-inside: avoid;
      margin-bottom: -50px;

      &:nth-child(2) {
        grid-row: span 2;
        
      }

      img {
        max-width: 100%;
        border-radius: 40px;
        object-fit: contain;
        border: 2px solid #FFBA00;
      }
    }

    
  }
}

.services {
  padding: 60px 20px;
  background-color: rgba(27, 208, 53, 0.10);
  &__text {
    width: 600px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .cards {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    max-width: 1144px;
    margin: 0 auto;
    
    .card {
      
      figure {
        text-align: center;
        
        figcaption {
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
  }
}

.prices {
  
  &__text {
    max-width: 100%;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
  }

  &__cards {
    display: flex;
    gap: 22px;

    .card {
      width: 588px;
      min-height: 699px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 60px 55px 88px;
      border: 2px solid #FFBA00;
      
      &__headling {
        font-size: 36px;
        font-weight: 600;
        margin-left: 54px;
        margin-bottom: 40px;
      }

      .list {
        margin-left: 100px;
        &__item {
          max-width: 300px;
          font-size: 24px;
          font-weight: 600;
          list-style-type: disc;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 60px;
          }
        }
      }

        &__content--bottom {
          text-align: center;

        span {
          font-size: 36px;
          font-weight: 700;
          text-align: center;
          sup {
            vertical-align: super;
            font-size: 20px;
          }
        }
        
        .button {
          width: 100%;
          display: block;
          background-color: #FFBA00;
          font-family: 'Inter', sans-serif;
          font-size: 20px;
          font-weight: 500;
          line-height: 125%;
          color: #0C3E2E;
          margin-top: 40px;
          padding: 20px 32px;
        }
      }
    }

  }
}

.work-step {
  margin-bottom: 150px;
  &__list {
    max-width: 1070px;
    list-style-type: none;
    counter-reset: my-counter;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    .step {
      //display: flex;
      position: relative;
      line-height: 185px;
      font-size: 28px;
      //align-items: center;
      //border: 2px solid green;
      padding-left: 64px;

      &:last-child {
        margin-left: 32px;
      }
      
      
      &::before {
        content: counter(my-counter, decimal-leading-zero);
        counter-increment: my-counter;
        font-size: 128px;
        font-family: 'Kaisei Decol', serif;
        color: rgba(27, 208, 53, 0.10);
        -webkit-text-stroke: 0.25px #0C3E2E;
        font-weight: 400;
        letter-spacing: -12px;
        position: absolute;
        left: -0px;
        
      }
      
      // span {
      //   font-family: 'Kaisei Decol', serif;
      //   font-weight: 400;
      //   font-size: 128px;
      //   color: rgba(109, 151, 115, 0.20);
      //   -webkit-text-stroke: 0.25px #0C3E2E;
      //   margin-left: 50px;
      // }
    }
  }
}

.team {
  &__text {
    display: flex;
    max-width: 100%;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
    gap: 88px;
    
    p{
      max-width: 524px;
     
    }
  }
  &__cards {
    display: flex;
    justify-content: center;
    gap: 0 50px;
    .member {
      width: 200px;

      img {
        border: 2px solid #FFBA00;
      }

      &__info {
        padding: 10px 0 15px;
        text-align: center;
      }

      &__descr {
        text-align: center;
        font-size: 18px;
        
      }
    }
  }
}

.faq {
  margin-bottom: 110px;
  .accordion {
    column-count: 2;
    gap: 0 22px;
    &__item {
      margin-bottom: 40px;
    }
    &__title {
      font-size: 24px;
      margin-bottom: 16px;
      background-color: transparent;
      border: none;
      border-radius: 0;
      text-align: left;
      color: #0C3E2E;
      padding-right: 70px;
      cursor: pointer;
      position: relative;
      width: 100%;
      &::after {
        position: absolute;
        top: 5px;
        right: 45px;
        content: '';
        background-image: url('../images/arrow-down.svg');
        background-repeat: no-repeat;
        width: 24px;
        height: 28px;

      }
    }
    &__descr {
      display: none;
    }
  }
}

.cta {
  
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
  }
  &__subtitle {
    font-size: 28px;
    margin-bottom: 40px;
  }
  &__text {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .form {
    border: 2px solid green;
    &__text {
      width: 550px;
      margin-bottom: 15px;
    }
    &__input {
      max-width: 500px;
      width: 100%;
      display: inline-block;
      padding: 5px 10px;
      border: none;
      border-bottom: 1px solid #0C3E2E;
      margin-left: 28px;
      margin-bottom: 10px;
      font-family: 'Inter', sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.25;
      color: #0C3E2E;

      ::placeholder {
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.25;
        color: #d9d9d9;
      }
    }
    &__btn {
      margin-top: 20px;
      background-color: #FFBA00;
      display: inline-block;
      border: none;
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 125%;
      padding: 20px 42px;
      border-radius: 16px;
      color: #0C3E2E;
      margin-bottom: 30px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25;
    font-family: 'Inter', sans-serif;
    color: #0C3E2E;
    span {
      border-bottom: 1px solid #0C3E2E;
      padding-right: 16px;
    }

    img {
      margin-left: 32px;
    }
  }
  
  .gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    

    img {
      display: block;
      border-radius: 40px;
      &:last-child {
        grid-column: 1/-1;
      }
    }
      
    }

    
  }

.reviews {
  
  .slider {
    &__wrapper {     
        
      .card {
        max-width: 600px;
        font-size: 24px;
        &__header {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          min-height: 0;
          font-size: 24px;
          font-weight: 600;
          .avatar {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-right: 20px;
          }
        }
        &__content {
          font-size: 24px;
          font-weight: 600;
        }
        
      }

      
    }
    
  }
  
  
}
  
  


.contacts {
    
    &__content {
      align-self: start;
    }

    &__text {
      font-size: 28px;
      font-weight: 700;
      margin-top: 50px;
      margin-bottom: 10px;
    }

    &__info {
      line-height: auto;
      p {
        margin-bottom: 20px;
      }

      &:last-child {
          margin-bottom: 0;
        }
    }

  }

  .footer {
    background-color: rgba(27, 208, 53, 0.10);
    padding: 40px 0 47px;
    
    &__inner {
      display: flex;
      justify-content: center;
    }

    &__left {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    &__right {
      flex: 1 1 50%;
      padding-left: 30px;
    }

    .menu {
      &__item {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

    }

    .social {
      display: flex;
      gap: 16px;
    }

    .logo img {
      width: 137px;
      height: 87px;
      margin-bottom: 42px;
    }

    &__slogan {
      max-width: 230px;
      font-size: 28px;
      font-weight: 600;
    }
  }

/*--------Swiper-------------------------------------*/
.swiper {
  width: 100%;
  height: 300px;
  padding-bottom: 50px;
  
}

.reviews__control {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.review-prev,
.review-next {
  display: block;
  position: absolute;
  cursor: pointer;
 }

 .review-prev {
  transform: translateX(-100%);
  //background-color: #0C3E2E;
 }

 .review-next {
  transform: translateX(70%);
  //background-color: #0C3E2E;
 }



/*---------------------------------------------------*/
h2 {
  color: green;
}