  @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Inter:wght@500;600;700&family=Kaisei+Decol&family=Manrope:wght@700&display=swap');


  // font-family: 'Balsamiq Sans', sans-serif;
  // font-family: 'Inter', sans-serif;
  // font-family: 'Kaisei Decol', serif;
  // font-family: 'Manrope', sans-serif;

body {
  
  font-size: 18px;
  font-weight: 500;
  line-height: 1.25;
  font-family: 'Inter', sans-serif;
  color: #0C3E2E;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

button {
  border: none;
}

.button {
  background-color: #FFBA00;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 125%;
  display: inline-block;
  padding: 20px 32px;
  border-radius: 16px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-size: 36px;
  font-weight: 600;
}

.header {

  background-image: url('../images/header1920-svg.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  max-width: 100%;
  margin-bottom: 150px;
  

  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    
  }

  .logo {
    display: block;
    img {
      width: 80px;
    }
  }

  &__navbar {
    display: flex;
    justify-content: space-between;

    .menu {

      &__list {
        display: flex;
        gap: 30px;
      }

      &__link {
        text-transform: uppercase;
        font-size: 16px;
        
      }
    }

    
  }

  &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100svh;
      }

  .phone {
    color: #BB8A52;
  }

  &__bottom {
    font-size: 24px;
    text-align: center;
    padding: 25px 0;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
    
    &__top {
      margin-bottom: 20px;
    }

    
    &__title {
      margin-top: 20px;
      margin-bottom: 75px;
      width: 428px;
      font-size: 48px;
      font-weight: 600;
    }

    &__text {
      margin-bottom: 20px;
      width: 510px;
       span {
        color: #CC2E2E;
       }

    }

    &__cta {
      display: inline-block;
      padding: 20px 32px;
      border-radius: 16px;
    }

    &__image {
      
      
      margin-bottom: 40px;
    }
  }
  
}

.section {
  margin-bottom: 150px;
  &__title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;

  }


  &__inner {
    display: flex;
    align-items: center;
    gap:0 22px;
  }

  
}

.about {
  &__text {
    margin-bottom: 30px;
    width: 510px;
    span {
      font-family: 'Balsamiq Sans', sans-serif;
      font-size: 24px;
      
    }

  }

  &__achivment {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
      gap: 30px;
      text-align: center;
      color: #BB8A52;
    
    dt {
      font-size: 48px;
      margin-bottom: 5px;
    }
  }
}

.why_we {
  &__text {
    width: 600px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
  }

  .list {
    &-item {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 55px;
      padding-left: 10px;
      &:nth-child(2),
      &:nth-child(5) {
        margin-left: 64px;
      }

      &:nth-child(3),
      &:nth-child(4) {
        margin-left: 102px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }


  } 
}

.projects {
  &__text {
    width: 600px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row: 1 /3;
    gap: 20px;
    
    &__item {
      // display: block;
      width: 100%;
      break-inside: avoid;
      margin-bottom: -50px;

      &:nth-child(2) {
        grid-row: span 2;
        
      }

      img {
        max-width: 100%;
        border-radius: 40px;
        object-fit: contain;
        border: 2px solid #FFBA00;
      }
    }

    
  }
}

.services {
  padding: 60px 20px;
  background-color: rgba(27, 208, 53, 0.10);
  &__text {
    width: 600px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .cards {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    max-width: 1144px;
    margin: 0 auto;
    
    .card {
      
      figure {
        text-align: center;
        
        figcaption {
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
  }
}

.prices {
  
  &__text {
    max-width: 600px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
  }

  &__cards {
    display: flex;
    gap: 22px;

    .card {
      width: 588px;
      min-height: 699px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 60px 55px 88px;
      border: 2px solid #FFBA00;
      
      &__headling {
        font-size: 36px;
        font-weight: 600;
        margin-left: 54px;
        margin-bottom: 40px;
      }

      .list {
        margin-left: 100px;
        &__item {
          max-width: 300px;
          font-size: 24px;
          font-weight: 600;
          list-style-type: disc;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 60px;
          }
        }
      }

        &__content--bottom {
          text-align: center;

        span {
          font-size: 36px;
          font-weight: 700;
          text-align: center;
          sup {
            vertical-align: super;
            font-size: 20px;
          }
        }
        
        .button {
          width: 100%;
          display: block;
          background-color: #FFBA00;
          font-family: 'Inter', sans-serif;
          font-size: 20px;
          font-weight: 500;
          line-height: 125%;
          color: #0C3E2E;
          margin-top: 40px;
          padding: 20px 32px;
        }
      }
    }

  }
}

.work-step {
  &__list {
    
    display: flex;flex-wrap: wrap;
    justify-content: space-around;
    .step {
      display: flex;
      font-size: 28px;
      
      align-items: center;
      border: 2px solid green;
      
      // span {
      //   font-family: 'Kaisei Decol', serif;
      //   font-weight: 400;
      //   font-size: 128px;
      //   color: rgba(109, 151, 115, 0.20);
      //   -webkit-text-stroke: 0.25px #0C3E2E;
      //   margin-left: 50px;
      // }
    }
  }
}


/*---------------------------------------------------*/
h2 {
  color: green;
}